In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"C:\Users\ATOnile\Downloads\Suicide_bombing_attacks.csv")
df

,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,Location,...,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
0,Sunday-November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,NaN,Islamabad,33.718000,73.0718,Capital,Egyptian Embassy,...,NaN,14.0,15.0,NaN,60,2.0,NaN,NaN,15.835,60.503
1,Monday-November 6-2000,10 SHa`baan 1421 A.H,Working Day,NaN,NaN,Karachi,24.991800,66.9911,Sindh,office of Nawa-e-Waqt,...,NaN,NaN,3.0,NaN,3,1.0,NaN,NaN,23.770,74.786
2,Wednesday-May 8-2002,25 safar 1423 A.H,Working Day,NaN,7:45 AM,Karachi,24.991800,66.9911,Sindh,Pakistan Navy bus Parked outside Five Star She...,...,Christian,13.0,15.0,20.0,40,1.0,2.5 Kg,1.Jinnah Postgraduate Medical Center 2. Civil ...,31.460,88.628
3,Friday-June 14-2002,3 Raby` al-THaany 1423 A.H,Working Day,NaN,11:10:00 AM,Karachi,24.991800,66.9911,Sindh,US Consulate Civil Lines Area,...,Christian,NaN,12.0,NaN,51,1.0,NaN,NaN,31.430,88.574
4,Friday-July 4-2003,4 Jumaada al-awal 1424 A.H,Working Day,NaN,NaN,Quetta,30.209500,67.0182,Baluchistan,Imambargah MeCongy Road Quetta,...,Shiite,44.0,47.0,NaN,65,1.0,NaN,1.CMH Quetta \n2.Civil Hospital 3. Boland Medi...,33.120,91.616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,Monday-July-17-2017,22 Shawaal 1432 A.H,Working Day,NaN,NaN,Peshawar,34.015000,71.5805,KPK,near the Afghan border,...,NaN,1.0,2.0,1.0,7,1.0,NaN,NaN,37.000,98.000
984,Monday-July-17-2017,22 Shawaal 1432 A.H,Working Day,NaN,NaN,Peshawar,34.015000,71.5805,KPK,southwestern Chaman province,...,NaN,1.0,1.0,1.0,1,1.0,NaN,NaN,37.000,98.000
985,Monday-July-24-2017,29 Shawaal 1432 A.H,Working Day,NaN,3:55pm,Lahore,31.500875,74.33312,Punjab,near Arfa Karim IT Tower Ferozepur Road,...,NaN,26.0,27.0,56.0,56,1.0,NaN,"Jinnah Hospital, General Hospital, Ittefaq Hos...",32.000,88.000
986,Saturday-August-12-2017,NaN,Weekend,NaN,5:00PM,Quetta,30.203658,67.004469,Balochistan,Pishin bus stop,...,NaN,15.0,15.0,40.0,40,1.0,25KG,NaN,29.000,NaN
987,Thursday-October-05-2017,NaN,NaN,NaN,NaN,Quetta,28.571051,67.496895,Balochistan,Fateh Pur Shrine in Jhal Magsi village,...,NaN,21.0,22.0,25.0,NaN,1.0,NaN,"Larkana Hospital, Gandawah District Headquarte...",27.800,81.000

In [5]:
df.head(2)

,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,Location,...,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
0,Sunday-November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,NaN,Islamabad,33.7180,73.0718,Capital,Egyptian Embassy,...,NaN,14.0,15.0,NaN,60,2.0,NaN,NaN,15.835,60.503
1,Monday-November 6-2000,10 SHa`baan 1421 A.H,Working Day,NaN,NaN,Karachi,24.9918,66.9911,Sindh,office of Nawa-e-Waqt,...,NaN,NaN,3.0,NaN,3,1.0,NaN,NaN,23.770,74.786

In [210]:
df.isnull().sum()

Date                        84
Islamic Date                 0
Blast Day Type               0
Holiday Type               844
Time                       422
City                         0
Latitude                     0
Longitude                    0
Province                     0
Location                     6
Location Category            0
Location Sensitivity         0
Open/Closed Space            0
Influencing Event/Event      0
Target Type                  0
Targeted Sect if any         6
Killed Min                   0
Killed Max                   0
Injured Min                  0
Injured Max                  0
No. of Suicide Blasts        0
Explosive Weight (max)       0
Hospital Names               0
Temperature(C)               0
Temperature(F)               0
Month                       84
year                        84
dtype: int64

In [208]:
df.dtypes

Date                       datetime64[ns]
Islamic Date                       object
Blast Day Type                     object
Holiday Type                       object
Time                               object
City                               object
Latitude                            int32
Longitude                           int32
Province                           object
Location                           object
Location Category                  object
Location Sensitivity               object
Open/Closed Space                  object
Influencing Event/Event            object
Target Type                        object
Targeted Sect if any               object
Killed Min                          int32
Killed Max                          int32
Injured Min                         int32
Injured Max                         int32
No. of Suicide Blasts               int32
Explosive Weight (max)              int32
Hospital Names                     object
Temperature(C)                      int32
Temperature(F)                      int32
Month                             float64
year                              float64
dtype: object

In [11]:
mode = df['Islamic Date'].mode()[0]
mode

'19 Jumada al-awwal 1438 A.H'

In [13]:
df['Islamic Date'].fillna(mode, inplace = True)

In [17]:
df['Blast Day Type'].fillna('Working Day', inplace = True)

In [15]:
df['Holiday Type'].fillna('week day', inplace = True)

In [206]:
df['Open/Closed Space'].ffill(inplace = True)

In [23]:
df['Influencing Event/Event'].bfill(inplace = True)

In [119]:

df['Injured Max'] = pd.to_numeric(df['Injured Max'], errors='coerce')

df['Longitude'] = pd.to_numeric(df['Longitude'], errors='coerce')

df['Explosive Weight (max)'] = pd.to_numeric(df['Explosive Weight (max)'], errors='coerce')

In [27]:
df['Targeted Sect if any'].bfill(inplace = True)

In [121]:
numeric_column = df.select_dtypes(include=['float64','int32']).columns
numeric_column

Index(['Latitude', 'Longitude', 'Killed Min', 'Killed Max', 'Injured Min',
       'Injured Max', 'No. of Suicide Blasts', 'Explosive Weight (max)',
       'Temperature(C)', 'Temperature(F)'],
      dtype='object')

In [125]:
num_col = df.select_dtypes(include = ['float64']).columns
num_col

Index(['Explosive Weight (max)'], dtype='object')

In [127]:
for j in num_col:
    df[j]= df[j].fillna(0).astype(int)
    df[j]

In [35]:
for i in numeric_column:
    mean = df[i].mean()
    df[i].fillna(mean, inplace = True)

In [37]:
df['Hospital Names'].bfill(inplace = True)

In [35]:
df['Location'].bfill(inplace = True)

In [42]:
df.head(4)

,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,Location,...,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
0,Sunday-November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,NaN,Islamabad,33,73,Capital,Egyptian Embassy,...,Christian,14,15,0,60,2,NaN,1.Jinnah Postgraduate Medical Center 2. Civil ...,15,60
1,Monday-November 6-2000,10 SHa`baan 1421 A.H,Working Day,NaN,NaN,Karachi,24,66,Sindh,office of Nawa-e-Waqt,...,Christian,0,3,0,3,1,NaN,1.Jinnah Postgraduate Medical Center 2. Civil ...,23,74
2,Wednesday-May 8-2002,25 safar 1423 A.H,Working Day,NaN,7:45 AM,Karachi,24,66,Sindh,Pakistan Navy bus Parked outside Five Star She...,...,Christian,13,15,20,40,1,2.5 Kg,1.Jinnah Postgraduate Medical Center 2. Civil ...,31,88
3,Friday-June 14-2002,3 Raby` al-THaany 1423 A.H,Working Day,NaN,11:10:00 AM,Karachi,24,66,Sindh,US Consulate Civil Lines Area,...,Christian,0,12,0,51,1,NaN,1.CMH Quetta \n2.Civil Hospital 3. Boland Medi...,31,88

In [39]:
total_attack = df.shape[0]
total_attack

988

# 2. Total Number of Casualties (Min/Max)

In [46]:
total_min_killed = df['Killed Min'].sum()
total_min_killed

10294

In [48]:
total_Killed_Max = df['Killed Max'].sum()
total_Killed_Max

15062

In [50]:
total_Injured_Min = df['Injured Min'].sum()
total_Injured_Min

22868

In [54]:
total_Injured_Max = df['Injured Max'].sum()
total_Injured_Max

36322

#  Average Casualties per Attack

In [61]:
average_casualty_per_attack_min = total_min_killed  + total_Injured_Min / total_attack
average_casualty_per_attack_min

10317.145748987854

In [65]:
average_casualty_per_attack_max= total_Killed_Max+ total_Injured_Max/total_attack
average_casualty_per_attack_max

15098.763157894737

# 4. Deadliest Province/City

In [84]:
kiled_min_in_province = df.groupby('Province')['Killed Min'].sum()
kiled_min_in_province

Province
AJK              20
Balochistan     563
Baluchistan    1002
Capital         278
FATA           1120
Fata             80
KPK            4445
Punjab         1894
Sindh           892
Name: Killed Min, dtype: int32

In [113]:
kiled_max_in_province = df.groupby('Province')['Killed Max'].max()
kiled_max_in_province

Province
AJK             15
Balochistan     85
Baluchistan     93
Capital         60
FATA            85
Fata            50
KPK            148
Punjab         100
Sindh          145
Name: Killed Max, dtype: int32

In [107]:
kiled_max_in_city = df.groupby('City')['Killed Max'].max()
kiled_max_in_city.head(7)

City
ATTOCK           19
Attock            9
Bajaur Agency    47
Bannu            20
Bhakkar          26
Buner            37
Chakwal          27
Name: Killed Max, dtype: int32

In [109]:
kiled_min_in_city = df.groupby('City')['Killed Min'].max()
kiled_min_in_city.head(7)

City
ATTOCK           16
Attock            8
Bajaur Agency    42
Bannu            18
Bhakkar          22
Buner            34
Chakwal          22
Name: Killed Min, dtype: int32

# 5. Attack Frequency by Province/City

In [78]:
df['Province'].value_counts()

Province
KPK            501
FATA           140
Punjab         128
Sindh           70
Baluchistan     62
Capital         40
Balochistan     29
AJK             12
Fata             6
Name: count, dtype: int64

In [104]:
df['City'].value_counts().head(5)

City
Peshawar    143
Quetta       67
Swat         50
Bannu        44
Karachi      42
Name: count, dtype: int64

# 6. Explosive Weight Analysis

In [131]:
Explosive_Weight = df['Explosive Weight (max)'].sum(skipna = True)
Explosive_Weight

690

In [133]:
Average_Explosive_Weight = Explosive_Weight/total_attack
Average_Explosive_Weight

0.6983805668016194

# 7. Trends over Time (Monthly/Yearly)

In [139]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Date']

0     1995-11-19
1     2000-11-06
2     2002-05-08
3     2002-06-14
4     2003-07-04
         ...
983          NaT
984          NaT
985          NaT
986          NaT
987          NaT
Name: Date, Length: 988, dtype: datetime64[ns]

In [143]:
df['Month'] = df['Date'].dt.month
df['Month']

0      11.0
1      11.0
2       5.0
3       6.0
4       7.0
       ...
983     NaN
984     NaN
985     NaN
986     NaN
987     NaN
Name: Month, Length: 988, dtype: float64

In [151]:
df['year'] = df['Date'].dt.year
df['year']

0      1995.0
1      2000.0
2      2002.0
3      2002.0
4      2003.0
        ...
983       NaN
984       NaN
985       NaN
986       NaN
987       NaN
Name: year, Length: 988, dtype: float64

In [153]:
df[['Date', 'Month', 'year']].head()

        Date  Month    year
0 1995-11-19   11.0  1995.0
1 2000-11-06   11.0  2000.0
2 2002-05-08    5.0  2002.0
3 2002-06-14    6.0  2002.0
4 2003-07-04    7.0  2003.0

In [167]:
monthly_attack = df['Date'].dt.to_period('M').value_counts()
monthly_attack

Date
2009-12    26
2007-07    26
2009-11    20
2007-12    18
2008-10    18
           ..
2011-12     2
2012-04     2
2012-05     2
2012-07     2
2016-05     2
Freq: M, Name: count, Length: 118, dtype: int64

In [169]:
yearly_attack = df['Date'].dt.year.value_counts()
yearly_attack

Date
2009.0    180
2008.0    122
2007.0    114
2010.0    114
2011.0     88
2013.0     82
2012.0     64
2014.0     54
2015.0     30
2006.0     18
2004.0     16
2005.0      8
2002.0      4
2003.0      4
1995.0      2
2000.0      2
2016.0      2
Name: count, dtype: int64

# 8. Blast Type and Impact

In [178]:
Blast_type = df['Blast Day Type'].value_counts()
Blast_type

Blast Day Type
Working Day    822
Holiday        156
Weekend         10
Name: count, dtype: int64

In [182]:
impact_Blast_type = df.groupby('Blast Day Type')['Killed Max'].sum()
impact_Blast_type

Blast Day Type
Holiday         2438
Weekend          150
Working Day    12474
Name: Killed Max, dtype: int32

In [186]:
impact_Blast_type_max = df.groupby('Blast Day Type')['Injured Max'].sum()
impact_Blast_type_max

Blast Day Type
Holiday         5576
Weekend          320
Working Day    30426
Name: Injured Max, dtype: int32

# 9. Day of the Week Analysis

In [192]:
day_attack_frequency = df['Date'].dt.day_name().value_counts()
day_attack_frequency

Date
Thursday     164
Friday       162
Monday       160
Saturday     130
Tuesday      106
Sunday        92
Wednesday     90
Name: count, dtype: int64

# 10. Casualty Ratio (Killed to Injured)

In [202]:
ratio_of_max = (total_Killed_Max/total_Injured_Max)*100
ratio_of_max

41.467980838059574

In [200]:
ratio_of_min =  (total_min_killed/total_Injured_Min)*100
ratio_of_min

45.01486793772958

# 11. Most Frequent Time of Day for Attacks

In [246]:
time_of_day = df['Time'].dropna()
morning_count = time_of_day.str.contains('AM').sum()
morning_count

186

In [240]:
afternoon_count = time_of_day.str.contains('PM').sum() 
afternoon_count

203

# 12. Average Number of Suicide Blasts per Attack

In [222]:
Average_Number_of_Suicide_Blasts = (df['No. of Suicide Blasts'] /df.shape[0])*100
Average_Number_of_Suicide_Blasts

0      0.202429
1      0.101215
2      0.101215
3      0.101215
4      0.101215
         ...
983    0.101215
984    0.101215
985    0.101215
986    0.101215
987    0.101215
Name: No. of Suicide Blasts, Length: 988, dtype: float64

# 13. Most Common Location Category

In [232]:
Most_Common_Location_Category = df['Location Category'].value_counts()
Most_Common_Location_Category.head(8)

Location Category
Police         182
Mobile         140
Military       139
Religious      114
Market          80
Unknown         70
Park/Ground     64
Residence       50
Name: count, dtype: int64